html, body {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	height:100%;
	background:#000;
	margin-top:20px;
}

/* Row Page ************************************************ */
.flex-container,
.cap {
	border: 1px solid red;
}
.flex-container > div,
.cap > div {
	background-color: DodgerBlue;
	border: 1px solid rgb(144, 192, 255);
	font-size: 20px;
	padding-left: 5px;
	margin: 10px;
}
.cap {
	display: flex;
	text-align: center;
	font-size: 20px;
}
.cap div {
	flex: 2 200px;
	background-color: rgb(58, 58, 58);
	border: none;
	line-height: 75px;
}
.flex-container {    
	border-top: none;
	border-bottom: none;
}
.flex-container > div {    
	height: auto;
	padding: 10px;
}

/* Row Align Page ************************************************ */
nav, footer { 
	background-color:linen;
	margin: 10px;
} 
nav a { 
	color:rgb(238, 37, 64);   
}  
nav ul {
	display: flex;
	padding: 12px;
	margin: 0;
} 
nav ul li {
	list-style: none;
}
.flex-container-2 {    
	border-top: none;
	border-bottom: none;
}
.flex-container-2 > div {    
	height: auto;
	padding: 10px;
	background-color: rgb(177, 216, 255);
	border: 1px solid dodgerblue;
	font-size: 14px;
	margin: 10px;	
}
footer {
	font-size: 12px;
	padding: 10px;
	color:grey;   
}

/* Index Page ************************************************ */
.flex-container-3 {
	border: 1px dashed rgb(48, 48, 48);
	padding: 0 4px;
	margin: 8px;
}
.flex-container-3 div {
	border: 1px solid red;
	background-color: rgb(177, 216, 255);
	color:rgb(0, 0, 0);
	font-weight:bold;
	font-size:2.2em;
	text-align:center;
	position:relative;
	margin: 8px 4px;

}